*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #FB9333;
    --secondary-color:#FFF0DC;
    --text-primary: #585858;
    --text-secondary:#2B2B2B;
    --background-color:linear-gradient(180deg, #FFF8ED 0%, rgba(255, 248, 237, 0.5) 100%);
}  

header{
    padding: 49px 150px;
    background-image: -webkit-gradient(linear, left bottom, right top, from(rgba(255, 255, 255, 0.9)), color-stop(70%, rgba(255, 255, 255, 0.45)), to(rgb(255, 238, 215)));
}

.logo{
    cursor: pointer;
}

.menu-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list-menu ul{
    display: flex;
    gap: 56px;
    list-style: none;
    font-size: 24px;
    color: var(--text-primary);
    cursor: pointer;
}

.list-menu ul li:hover{

    color: var(--primary-color);
    font-weight: 700;

}

.button-menu button{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    width: 126px;
    height: 54px;
    cursor: pointer;

}

.button-menu button:hover{
    color: var(--primary-color);
    background-color: var(--text-primary);
}

.content-header{
    display: flex;
    margin-top: 64px;
}

.text-header{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 500px;
}

.text-one{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 16px;
    width: 250px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 100px;
    font-weight: 600;
}

.text-header h1{
    max-width: 900px;
    font-size: 60px;
    height: 282px;
    color: var(--text-primary);
}

.chega{
    color: var(--primary-color);
}

.text-header p{
    max-width: 600px;
    font-size: 20px;
    height: 500;
    color: var(--text-primary);
    margin-top: 30px;
}

.text-header button{
    width: 192px;
    height: 68px;
    padding: 24px 32px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 100px;
    border: none;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.text-header button:hover{
    color: var(--primary-color);
    background-color: var(--text-primary);
}

.potuacao-header{
    margin-top: 82px;
    display: flex;
    width: 396px;
    gap: 50px;
}


.banner{
    width: 50%;
    height: 800px;
    display: flex;
    justify-content: flex-end;
}

.pontuacao h3{
    font-size: 24px;
    color: var(--text-primary);
    font-weight: 600;
}

.pontuacao span{
    font-size: 16px;
    color: var(--text-primary);
}

.section-two{
    padding: 49px 150px;
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.section-two-subtitle{
    display: flex;
    height: 132px;
    justify-content: space-between;
}

.section-two-subtitle h2{
    color: var(--text-primary);
    max-width: 986px;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.section-two-subtitle p{
    font-size: 20px;
    color: var(--text-primary);
    max-width: 550px;
    height: 134px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.section-two-subtitle div p{
    justify-items: center;
}

.section-two-information{
    margin-top: 77px;
    display: flex;
    gap:70px;
    justify-content: space-between;
}

.information{
    width: 370px;
    height: 483px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;


}

.information:hover{
    box-shadow:  0px 50px 80px -30px rgba(151, 109, 0, 0.2);

}

.information:hover .button-arrow{
    background-color: var(--primary-color);
    border-radius: 100px;

}

.information:hover .arrow, 
.information:hover .arrow::after{
    color: #fff;



}



.information img{
    width: 122px;
    height: 122px;
    margin-top: 29px;
    margin-left: 29px;

}

.title-information{
    margin-left: 40px;
    margin-top: 68px;
}

.text-information{
    margin-left: 40px;
    margin-top: 12px;
    margin-bottom: 24px;
    margin-right: 30px;
    text-align: center justify;
}


.button-arrow{
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: safe;
    margin-left: 40px;
    padding: 10px 24px ;
    cursor: pointer;
}


.button-arrow button{
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow{
    position: relative;
}

.arrow::after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900; 
    content:'\f061'; 
    position: absolute;
    color: var(--text-secondary);
    top: 50%; 
    transform: translateY(-50%); 
    font-size: 1rem; 
    margin-left: 10px; 
    z-index: 2;

}

.section-three{
    background-color: #FFF8EE;
    display: flex;
    padding: 49px 150px;
    justify-content: space-between;
}

.section-three-information{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 442px;
}

.opnions{
    display: flex;
    gap: 30px;

}

.opnion-content{
    border-radius: 8px;
    width: 300px;
    height: 442px;
    background-color: #fff;
}

.text-h2{
    width: 515px;
    height: 128px;
    font-size: 28px;
    color: var(--text-secondary);
    margin-bottom: 30px;

}


.text-p{
    width: 415px;
    height: 128px;
    font-size: 16px;
    color: var(--text-primary);
}

.img-opnion{
    position: relative;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 52px;
    
}

.text-opnion{
    margin-left: 24px;
    font-size: 24px;
}

.text-opnion span{
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--text-primary);
}

.text-opnion p{
    font-size: 16px;
    width: 250px;
    color: var(--text-primary);
    
}








